*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo_title{
	font-size: 18px;
	font-weight: 700;
	color: #00a562 !important;
	background: #fff !important;
}

.post_title{
	font-size: 26px;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 0;
    margin-right: 5px;
    cursor: pointer;
}